:root {
    height: -webkit-fill-available;
    background-color: rgb(26, 26, 26);
    --main-color: #6bdaff;
    --text-color: #e0f7ff;
}

body {
    background-color: rgb(26, 26, 26);
    background-image: url(/imgs/BG.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    height: -webkit-fill-available;
    flex-direction: column;
}

.Navbar-Container {
    border-color: var(--main-color);
    background-color: #2892b63b;
    margin: 16px 32px;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    box-shadow: var(--main-color) 0px 0px 256px 0px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(12px);
    flex-wrap: nowrap;
    flex-direction: row;
}

.Navbar-Form {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.Navbar-Button {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 8px;
    border: #6bdaff38 solid 2px;
    background-color: #000000ab;
    color: var(--main-color);
    border-radius: 8px;
    backdrop-filter: blur(12px);
    text-align: center;
    text-decoration: auto;
    transition: all .15s;
}

.Navbar-Button:hover {
    scale: 0.975;
    box-shadow: var(--main-color) 0px 0px 64px 0px;
    text-shadow: var(--main-color) 0px 0px 16px;
    border: var(--main-color) solid 1px;
    transition: all .15s;
}

.Navbar-Button:active {
    scale: 0.9;
    transition: all .15s;
}

.Body-Container {
    border-color: var(--main-color);
    background-color: #2892b63b;
    margin: 16px;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    box-shadow: var(--main-color) 0px 0px 256px 0px;
    backdrop-filter: blur(12px);
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    scrollbar-width: none;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.PageTitle {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-block: 0;
    padding-block: 0;
}

.Separator {
    border: 2px var(--main-color) solid;
    width: 25%;
    border-radius: 50px;
    align-self: center;
    margin: 8px;
    margin-bottom: 0px;
    margin-top: 34px;
    box-shadow: var(--main-color) 0px 0px 16px 0px;
}

.Separator-Card {
    border: 2px var(--main-color) solid;
    width: 25%;
    border-radius: 50px;
    align-self: center;
    margin: 8px;
    box-shadow: var(--main-color) 0px 0px 16px 0px;
}

.Section-Title {
    margin-left: 8px;
}

.Section {
    flex: 50%;
}

.media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: thin;
}
.media-card{
    border: #6bdaff38 solid 2px;
    backdrop-filter: blur(12px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    min-width: 256px;
    max-width: 256px;
    transition: all .15s;
}
.media-card:hover {
    cursor: pointer;
    scale: 0.975;
    box-shadow: inset var(--main-color) 0px 0px 8px 2px;
    text-shadow: var(--main-color) 0px 0px 16px;
    backdrop-filter: blur(4px);
    transition: all .15s;
    background: #00ced11a;
}
.media-card:active {
    scale: 0.9;
    transition: all .15s;
}
.media-title{
    text-align: center;
    margin: 8px;
}
.media-image{
    padding: 8px;
    border-radius: 16px;
    width: -webkit-fill-available;
    align-self: center;
    max-height: 128px;
    object-fit: cover;
}
.media-description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: fit-content;
    margin: 8px;
}