# .htaccess
Options -Indexes
RewriteEngine On

# Reindirizzamento a index.php per URL non esistenti
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]